@model MailModel

@{
    ViewBag.Title = "Enviar Correo";
}
<div class="d-flex justify-content-between align-items-center">
    <h2 class=" text-dark fw-bol">Enviar invitación por correo</h2>

    <button id="btnVolver" onclick="volver()" class="btn btn-primary">Volver</button>
</div>


<div class="container">
    <form method="post">
        <fieldset class="border p-4 shadow-lg">
            <legend class="w-auto text-center">Datos del Correo</legend>

            <!-- Campo para el correo del destinatario -->
            <div class="form-group mb-3">
                <label for="To">Correo electrónico del destinatario:</label>
                @Html.TextBoxFor(m => m.To, new { @class = "form-control", id = "To", placeholder = "Ingresa el correo del destinatario" })
            </div>

            <!-- Botón para enviar -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-lg w-50">Enviar Correo</button>
            </div>
        </fieldset>
    </form>
</div>

<script>
    // Función que redirige a la vista Tareas/GetTareas
    function volver() {
        // Redirigir a la vista Tareas/GetTareas
        window.location.href = '/Tarea/GetTareas';
    }
</script>





